.wrapper {
    max-width: 900px;
    margin: 50px auto;
    animation: 1s fadeIn;
}

.title {
    text-align: center;
}

@keyframes fadeIn {
    0%{
      transform: translate(0, 10px);
      opacity: 0;
    }
    100%{
      transform: translate(0,0);
      opacity: 1;
    }
  }

  .wrapper h2 {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 30px;
  }

  .wrapper p {
    font-weight: 200;
    line-height: 30px;
  }

  .wrapper li {
    font-weight: 200;
    line-height: 30px;
    margin-left: 30px;
  }

  .wrapper table{
    margin: 20px auto;
  }

  .wrapper th {
    background-color: var(--main);
    color: white;
    padding: 10px;
    font-weight: 300;
  }

  .wrapper td {
    text-align: center;
    padding: 10px;
  }

  .wrapper tr:nth-child(even) {
    background-color: rgb(237, 242, 244);
  }

  .wrapper tr:nth-child(odd) {
    background-color: white;
  }

  .wrapper div{
    padding: 20px;
  }