.pageWrapper {
    margin: 50px auto;
    max-width: 900px;
    animation: 1s fadeIn;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
}

.heading h2{
    font-size: 20px;
    font-weight: 400;
}

.table table{
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.109);
  border-collapse: collapse;
  border-bottom: 3px solid var(--main);
}

.table p{
  margin-bottom: 10px;
}

.table h2{
  font-weight: 500;
  margin-bottom: 10px;
}

.table th{
  padding: 17px;
  background-color: var(--main);
  color: white;
  font-weight: 500;
}

.table td {
  font-weight: 300;
  padding: 17px;
  border-bottom: 0.5px solid rgb(142, 152, 159);
}

.table tr:nth-child(even) {
  background-color: rgb(238, 245, 247);
}

.table a{
  color: var(--dark-accent);
  font-weight: 600;
  padding: 0px 6px;
  border-radius: 20px;
  }
  
.table a:hover{
  border: 1px solid var(--dark-accent);
}

@keyframes fadeIn {
  0%{
    transform: translate(0, 10px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}