.carousel img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 400px;
}

.carousel {
    margin: 0px 20px;
    width: 600px;
}

.carousel .control-arrow {
    background: red !important;
}