.staffWrapper{
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: 1s fadeIn;
    text-align: center;
}

.staffWrapper h1{
    margin: 20px;
    font-size: 40px;
}

.cardWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

@keyframes fadeIn {
    0%{
      transform: translate(0, 10px);
      opacity: 0;
    }
    100%{
      transform: translate(0,0);
      opacity: 1;
    }
  }